.espaniol{
    background-color: grey;
    color: green;
}
.dos{
    background-color: coral;
}
.estilo{
    background-color: red;
}
body{
    background-color: green;
}
/*prueba olvidado*/
/*Ejercicio 3 finalizado*/
/*Ejercicio 4 finalizado*/
/*Ejercicio 5 finalizado*/